* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; border: none;}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.product {
    width: 640px;
    background-color: hsl(0, 0%, 100%);
    height: 500px;
    border-radius: 23px;
}

.product .img {
    background: url('../img/image-product-desktop.jpg') no-repeat;
    background-size: cover;
    float: left;
    width: 320px;
    height: 500px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.info {
    float: right;
    width: 320px;
    height: 500px;
    padding: 40px 30px;
}

.info p {
    letter-spacing: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: hsl(158, 36%, 37%)
}

.info h1 {
    color: hsl(212, 21%, 14%);
    width: 210px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    color: hsl(158, 36%, 37%);
    width: 230px;
    line-height: 24px;
}

.price {
    display: flex;
    margin-top: 10px;
    position: relative;
}

.price h1 {
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-size: 3em;
}


.price small {
    text-decoration: line-through;
    color: hsl(158, 36%, 37%);
    font-size: 1em;
    margin-top: 40px;
    margin-right: 30px;
}

.cartButton {
    width: 250px;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartButton img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cartButton:hover {
    background-color: hsl(158, 28%, 25%);
    cursor: pointer;
}